:root {
  --bs-nav-font-size: 0.875rem;
  --bs-nav-underline-offset: 4px;
}

.nav-link-default {
  text-decoration: none;
  font-size: var(--bs-nav-font-size);
  font-weight: 600;
  
  &:hover {
    text-decoration: underline;
    text-underline-offset: var(--bs-nav-underline-offset);
    text-decoration-thickness: 1px;
  }
}

.nav-link-active {
  text-decoration: underline;
  text-underline-offset: var(--bs-nav-underline-offset);
  text-decoration-thickness: 1px;
  font-size: var(--bs-nav-font-size);
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    text-underline-offset: var(--bs-nav-underline-offset);
    text-decoration-thickness: 2px;
  }
  
}

.nav-icon {
  transition: transform 0.2s ease-in-out;
  width: 44px;
  height: 44px;
}

.nav-icon:hover {
  transform: scale(1.1);
}
